/* importamos propiedades personalizadas de variables */
@import url(./variables.css);
/* Reset */
body,p,span{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* Usamos fuente local */
@font-face {
    font-family: GameBoy;
    src: url(../fonts/Early_GameBoy.ttf);
 }
 /* La aplicamos a todo el documento */
*{
    font-family: GameBoy;
}

/* propiedades basicas */
body{
    color:black;
    /* Aplicamos el fondo desde las variables */
    background-image: var(--color-fondo-principal);
    background-size: cover;
    font-size: 16px;
    min-width: 480px;
}
/* Ordenamos las preguntas en columnas */
.entrada{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
}

/* igual que en el index aplicamos flex a las imagenes que generamos por js */
#categorias{
    display: flex;
    justify-content: space-around;
}

#categorias img{
    margin-top: 50px;
    width: 250px;
    height: 300px;

}
.bienvenida h3{

    background-color: rgba(255, 192, 203, 0.733);
    text-align: center;
    width: 20%;
    margin: 0 auto;
    /* aqui no se me aplica bien la funcion de abajo, asi que lo aplico con el selector de color */
    /* backdrop-filter: blur(10px); */
}

/* Propiedadeds de altura y anchura para el header*/
.header-main{
    width: 100%;
    height: 250px;
    /* variables de background */

}
/* colocacion de cada enlace generado y borde (solo por abajo) */
nav{
    background-color: rgb(165, 158, 158);
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    height: 40px;
    width: 100%;
    position: relative;
    bottom: 50px;
    min-width: 530px;
    border-bottom: 4px solid green;
}
/* quitamos los radios al input */
nav .eleccion-categoria input{
    display: none;
}

nav .eleccion-categoria label{
    background-color: pink;
    /* propiedad que encontre por internet que nos ofrece un borde negro para las letras */
    -webkit-text-stroke: 2px black;
    color: rgb(70, 223, 70);
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    user-select: none;
    transition: background-color 0.5s ease;
}
/* Cambio de color de fondo y de forma de puntero */
nav .eleccion-categoria label:hover{
    background-color: hotpink;
    cursor: pointer;
}

nav .eleccion-categoria input[type=radio]:checked+label{
    background-color: hotpink;
}

/* Transformo el h1 a mayuscula*/
section h1{
    text-transform: capitalize;
    color: white;
}
/* Añado a los h2 un borde inferior para que le de mas enfasis */
h2{
    border-bottom: 5px solid rgb(21, 150, 21);
}
/* Quitamos la visibilidad de los input */
section input{
    display: none;
}
/* Si elegimos una pregunta tendra un fondo rosa */
section input:checked+label{
    background-color: hotpink;
}
/* Si al corregir es correcta, su fondo sera verde */
section input:checked+label.correcta{
    background-color: green;
}
/* Si fuera incorrecta, su fondo sera roja */
section input:checked+label.incorrecta{
    background-color: red;
}
/* propiedades generales de fondo, centrado tanto de texto como de posicionamiento a cada pregunta */
.miarticlepreguntas{
    background-color: white;
    text-align: center;
    padding-left: 10px;
    width: 50%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

/* con esto consigo que se me centren las respuestas, no consegui que se me justificaran */
.miarticlepreguntas label{
    display: flex;
    justify-content:center;
}
/* Propiedades de el div contenedor de los botones */
.envoltorio{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 40px;
    }
button{
    width: 150px;
    height: 100px;
    margin-bottom: 10px;
}
/* Propiedades basicas del div que contendra la puntuacion */
.puntaje{    
    margin-top: 10px;  
    background-color: rgba(128, 128, 128, 0.795);
    color: white;
    text-align: center;
}


